#                                                                                 vim: ft=dosini
# Range for listening port
#
# To disable / override these settings, execute this command as the 'ruth' user:
#
#   echo >>~/.config/rtorrent/New-Configuration/rtorrent.d/.rcignore "50-port-binding.rc"
#
# Then restart rTorrent.

network.port_range.set = 64333-64666
network.port_random.set = no
