#############################################################################
# A minimal rTorrent configuration that provides the basic features
# you want to have in addition to the built-in defaults.
#
#
# Modify by Ricardo Gomez
#############################################################################

### Connection Configurations ###

## Which ports rtorrent can use
network.port_range.set = 60124-64124
network.port_random.set = yes

## Authorize UDP trackers
trackers.use_udp.set = yes

## Enable DHT (for torrents without trackers)
#on auto
dht.mode.set = on
#63425 
dht.port.set = 6881
protocol.pex.set = yes

## Enable encryption when possible
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry

## Connect to Flood
network.scgi.open_port = localhost:5000

### Throttling Configurations ###

## Adjust max and min peers
throttle.max_peers.normal.set = 80
throttle.min_peers.normal.set = 50

## Adjust max and min uploads
throttle.max_uploads.set = 20
throttle.min_uploads.set = 10

## Global upload and download rate in KBps (Set 0 for unlimited)
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0

# Maximum number of simultaneous downloads and uploads slots (global slots!) (`max_downloads_global`, `max_uploads_global`)
throttle.max_downloads.global.set = 300
throttle.max_uploads.global.set   = 300

# Maximum number of simultaneous downloads and uploads slots per torrent
throttle.max_downloads.set = 50
throttle.max_uploads.set = 50



### General Configurations ###

## Where rtorrent saves the session
session.path.set = /home/ruth/rtorrent/.session/

## Where rtorrent saves the downloaded files
directory.default.set = /media/Personal\ Files/Ricardo/Downloads/

## Check the hash after the end of the download
pieces.hash.on_completion.set = yes

## The retio upload time after the download is complete
#ratio.upload.set = 5M
#group2.seeding.ratio.upload.set = 5M

## Automatically resume incomplete downloads when starting rTorrent
#load.start = ~/rtorrent/.session/*.torrent

### Automation Settings ###

## Watch directory to add a magnetic torrent and start it
schedule2 = watch_directory_start, 10, 2, "load.start_verbose=~/rtorrent/watch/start/*.torrent"

### END of rtorrent.rc ###
