# Include for 'rtorrent.d', generated 2020-09-16 00:43:16
import = "~/.config/rtorrent/rtorrent.d/00-pyrocore.rc"
import = "~/.config/rtorrent/rtorrent.d/05-rt-ps-columns.rc"
import = "~/.config/rtorrent/rtorrent.d/10-instance-layout.rc"
import = "~/.config/rtorrent/rtorrent.d/15-logging.rc"
import = "~/.config/rtorrent/rtorrent.d/20-host-var-settings.rc"
import = "~/.config/rtorrent/rtorrent.d/20-session-name.rc"
import = "~/.config/rtorrent/rtorrent.d/30-resources.rc"
import = "~/.config/rtorrent/rtorrent.d/50-peers.rc"
import = "~/.config/rtorrent/rtorrent.d/50-port-binding.rc"
import = "~/.config/rtorrent/rtorrent.d/50-trackers.rc"
import = "~/.config/rtorrent/rtorrent.d/START-NOCRON.rc"
import = "~/.config/rtorrent/rtorrent.d/autolabel-categories.rc"
import = "~/.config/rtorrent/rtorrent.d/bash-completion-handlers.rc"
import = "~/.config/rtorrent/rtorrent.d/curl-options.rc"
import = "~/.config/rtorrent/rtorrent.d/network-history.rc"
import = "~/.config/rtorrent/rtorrent.d/tracker-aliases.rc"
import = "~/.config/rtorrent/rtorrent.d/views.rc"
import = "~/.config/rtorrent/rtorrent.d/watch-dirs.rc"
import = "~/.config/rtorrent/rtorrent.d/watch-disk-space.rc"
