[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.5
Name=Explorer
GenericName=File Manager
NoDisplay=false
Comment=Terminal file manager
Icon=vifm
#Exec=sh -c $TERMINAL -n "explorer" -c "Explorer" -e vifm %F
Exec=sh -c "st vifm %F"
Terminal=true
#Actions=
MimeType=inode/directory;
Categories=System;FileTools;FileManager;Utility;ConsoleOnly;
Keywords=File;Directory;Browse;
#PrefersNonDefaultGPU=


